[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu124"
verify_ssl = false
name = "pytorch"

[packages]
torch = { index = "pytorch"}
torchvision = { index = "pytorch"}
torchaudio = { index = "pytorch"}
jupyter = "*"
matplotlib = "*"
tqdm = "*"
torchinfo = "*"
torchmetrics = "*"
scikit-learn = "*"
wandb = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
